<h2>
  Produto Selecionado:
  @if (produtoSelecionado()) {
    <strong style="color:green;">
      {{ produtoSelecionado() }}
    </strong>
  } @else {
    <span style="color:gray">Nenhum</span>
  }
</h2>

@for (item of produtos(); track item.nome) {
 
 <app-produto 
    [nome]="item.nome" 
    [preco]="item.preco"
    (produtoSelecionado)="exibirProduto($event)"
    (adicionarCarrinho)="adicionarAoCarrinho($event)">
  </app-produto>
}

<p><button (click)="adicionarProduto()">Adicionar Produto</button></p>
<h2>Total de Produtos: {{ totalProdutos() }}</h2> 
<h3>Valor Total: {{ valorTotal() | precoFormatado }}</h3>
<p><button (click)="substituirProdutos()">Substituir Produtos</button></p>

<hr>

<h2>Carrinho</h2>
@for (p of carrinho(); track $index) {
  <p>{{ p.nome | uppercase }} - {{ p.valor | precoFormatado }}</p>
}
<p><strong>Itens no carrinho: </strong>{{ quantidadeCarrinho() }}</p>
<p><strong>Valor total do carrinho: </strong>{{ totalCarrinho() | precoFormatado }}</p>

<div> 
  <button (click)="removeTodosProdutos()">Remover todos os produtos</button>
</div>