//? Este arquivo aplica o estilo visual da biblioteca Angular Material 3 (botões, modais, campos de texto).
// Importa o módulo oficial de estilos do Angular Material
@use '@angular/material' as mat;

html {
  height: 100%;

  // Configura a paleta de cores e tipografia da loja
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette, // Cor principal do site (Magenta/Rosa)
        tertiary: mat.$violet-palette,  // Cor secundária de destaque (Violeta)
      ),
      typography: Roboto,             // Fonte usada nos componentes Material
      density: 0,                     // Espaçamento interno dos componentes (0 é o padrão)
    )
  );
}

body {
  // Define o tema claro padrão
  color-scheme: light;

  // Aplica as variáveis de cores de fundo e texto do Material 3
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reseta margens padrão e garante que o corpo ocupe 100% da altura da tela
  margin: 0;
  height: 100%;
}
