<div class="login">
  <div class="card-login">
    <h2>Login</h2>

    <!-- BOAS-VINDAS E TÍTULO -->
    <div class="boas-vindas">Boas vindas ao Lunupi!</div>
    <h3>Informe seus dados para acessar a loja</h3>

    <!-- FORMULÁRIO PRINCIPAL -->
    <form [formGroup]="formulario">
      
      <!-- CAMPO E-MAIL -->
      <p>
        <input class="campo" type="email" formControlName="email" placeholder="E-mail" />
      </p>
      @if (formulario.get('email')?.touched) {
        @if (formulario.get('email')?.hasError('required')) {
          <small class="mensagem-erro">E-mail é obrigatório</small>
        }
        @if (formulario.get('email')?.hasError('email')) {
          <small class="mensagem-erro">E-mail inválido</small>
        }
      }

      <!-- CAMPO SENHA -->
      <p>
        <input class="campo" type="password" formControlName="senha" placeholder="Senha" />
      </p>
      @if (formulario.get('senha')?.touched) {
        @if (formulario.get('senha')?.hasError('required')) {
          <small class="mensagem-erro">Senha é obrigatória</small>
        }
        @if (formulario.get('senha')?.hasError('minlength')) {
          <small class="mensagem-erro">Mínimo de 3 caracteres</small>
        }
      }

      <!-- BOTÃO DE ENVIO -->
      <p>
        <button type="button" (click)="entrar()" [disabled]="formulario.invalid">Entrar</button>
      </p>

      <!-- LINKS AUXILIARES -->
      <p class="links-auxiliares">
        <a routerLink="./">Não tem uma conta? Cadastre-se aqui.</a>
      </p>
      <a routerLink="./">Esqueci minha senha</a>

    </form>

    <!-- ERRO GERAL DE AUTENTICAÇÃO -->
    @if (erroLogin()) {
      <p class="mensagem-erro">Não foi possível realizar o login.</p>
    }

  </div>
</div>